<h2>Seja bem-vindo ao blog de notícias da Multirede, o Multi9.</h2>
<p><img src="img/Logo_Multi9.png" alt="Multi9" title="Siga-nos no twitter @multirede"  class="img-rounded floatLeft" />			
A Multirede é uma empresa multinacional brasileira, líder na oferta de consultoria, treinamento e soluções em TIC. Fundada em 1991, possui escritório central em São Paulo e filial no Rio de Janeiro, tendo expandido suas operações para a África – Angola e Cabo Verde e na América Latina - Chile e Colômbia. 
A empresa concentra suas atividades nas áreas de Infra-estrutura de Redes, Datacenter, Gerenciamento, Segurança, Comunicações Unificadas e Mobilidade, e se destaca por manter elevados níveis de qualidade, eficiência e excelência nos serviços oferecidos.</p>					
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=multi9&repo=multi9.github.io&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=multi9&repo=multi9.github.io&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/multirede" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Seguir @multirede</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/multi9" rel="author" class="social github" title="Acesse github.com/multi9" target="_blank"></a></li>
	  <li><a href="https://www.linkedin.com/company/multirede" rel="author" class="social linkedin" title="Acesse o perfil LinkedIn" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/multirede" rel="author" class="social twitter" title="Acesse twitter.com/multirede" target="_blank"></a></li>
	  <li><a href="http://feeds.feedburner.com/github/xmyo" rel="author" class="social rss" title="Go to feedburner erjjones rss feed" target="_blank"></a></li>
	</ul>
</p>