<h2>Seja bem-vindo ao blog de notícias da Multirede, o Multi9.</h2>
<p><img src="img/multi9.jpg" alt="Multi9" title="Siga-nos no twitter @multirede"  class="img-rounded floatLeft" />			
A Multirede é uma empresa multinacional brasileira, líder na oferta de consultoria, treinamento e soluções em TIC. Fundada em 1991, possui escritório central em São Paulo e filial no Rio de Janeiro, tendo expandido suas operações para a África – Angola e Cabo Verde e na América Latina - Chile e Colômbia. 
A empresa concentra suas atividades nas áreas de Infra-estrutura de Redes, Datacenter, Gerenciamento, Segurança, Comunicações Unificadas e Mobilidade, e se destaca por manter elevados níveis de qualidade, eficiência e excelência nos serviços oferecidos. .</p>					
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=erjjones&repo=erjjones.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=erjjones&repo=erjjones.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/multirede" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Seguir @multirede</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/erjjones" rel="me" class="social github" title="Go to github.com/erjjones" target="_blank"></a></li>
	  <li><a href="http://www.linkedin.com/pub/eric-jones/a/848/1b3" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/erjjones" rel="me" class="social twitter" title="Go to twitter.com/erjjones" target="_blank"></a></li>
	  <li><a href="http://feeds.feedburner.com/github/xmyo" rel="me" class="social rss" title="Go to feedburner erjjones rss feed" target="_blank"></a></li>
	  <li><a href="https://plus.google.com/u/0/114561259331203581412/posts" rel="me" class="social gplus" title="Go to Google Plus profile" target="_blank"></a></li> 
	  <li><a href="https://github.com/erjjones/Feedback/issues/new" rel="me" class="social mail" title="Leave feedback for Eric"  target="_blank"></a></li>				
	</ul>
</p>