<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="nav" href="http://multi9.github.io"><img border="0" width="80" height="80" src="/img/logo.png" alt=""></a>
	  <div class="nav-collapse">
		<ul class="nav">		  
		  <li class="">
			<a href="http://multi9.github.io"><i class="icon-home"></i> Home</a>
		  </li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-comment"></i> Social <b class="caret"></b></a>
				<ul class="dropdown-menu">										
					<li class=""><a href="http://www.twitter.com/multirede" rel="tooltip" title="Acesse twitter.com/multirede" target="_blank">Twitter</a></li>
					<li class=""><a href="http://www.multirede.com.br" rel="tooltip" title="Acesse www.multirede.com.br" target="_blank">Portal</a></li>
					<li class=""><a href="https://www.linkedin.com/company/multirede" rel="tooltip" title="Acesse o perfil LinkedIn" target="_blank">LinkedIn</a></li>										
					<li class=""><a href="http://coderwall.com/erjjones" rel="tooltip" title="Acesse facebook.com/multirede" target="_blank">Facebook</a></li>
					<!--<li class="divider"></li>-->
				</ul>
			 </li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-list"></i> Sobre o Multi9 <b class="caret"></b></a>
				<ul class="dropdown-menu">					
					<li class=""><a href="https://github.com/erjjones/earthjs" rel="tooltip" title="Go to Earth.js on GitHub" target="_blank">Earth.js</a></li>					
					<li class=""><a href="http://erjjones.github.com/forsale.html" rel="tooltip" title="Go to my For Sale Items">Parting Out the Civic</a></li>
				</ul>
			 </li>			
		</ul>		
	  </div>
	</div>
  </div>
</div>